<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--This configuration can have the following values
    1.Console - to ouput the data from the API into the console
    2.Database - to write the data from the API into any database-->
    <add key="outputType" value="console"/>
    <add key="HelloWorldApiUrl" value="http://localhost:64407/api/v1/message/helloworld"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Persist Security Info=False;Integrated Security=SSPI;database=AdventureWorks;server=(local)"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>